html{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

.header{
    display: flex;
    justify-content: center;
}

.btnCont{
    display: flex;
    justify-content: center;
    gap:20px;
}

.playerScore, .cpuScore{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 5%;
}

.btn {
    width: 129px;
    height: 106.50px;
    border: 2px solid greenyellow;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    align-items: center;
    /* line-height: 13em; */
    font-weight: 700;
    font-size: 20px;
    background-size: 100%;
}

.rock{
  background-image: url("./imgs/rock.png");
}

.paper{
  background-image: url("./imgs/paper.png");
}

.scissors{
  background-image: url("./imgs/scissors.png");
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.btn:hover:before {
    opacity: 1;
    transform: scale(1.1);
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 35px;
}

.cpuBtn:hover{
  cursor:not-allowed;
}

.displayName{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px;
    font-weight: 700;
    text-shadow: 2px 2px rgb(0, 238, 28);
}

.vs{
    display: flex;
    font-size: 40px;
    margin: 50px;
    margin-top: 8px;;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer{
    display: flex;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  
.header {
    position: relative;
    flex-shrink: 0;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #186b22,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    text-transform: uppercase;
    font-size: 6em;
    color: #d8ecdc;
    text-shadow: 0 0 0.6rem #c9d8cb, 0 0 1.5rem #65ff6a,
      -0.2rem 0.1rem 1rem #65ffaa, 0.2rem 0.1rem 1rem #65ff9d,
      0 -0.5rem 2rem #24ff57, 0 0.5rem 3rem #24ff24;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #e7ffe6;
      text-shadow: 0 0 0.6rem #e6ffe9, 0 0 1.5rem #65ffa3,
        -0.2rem 0.1rem 1rem #adff65, 0.2rem 0.1rem 1rem #65ff96,
        0 -0.5rem 2rem #7fff24, 0 0.5rem 3rem #2fff24;
    }
    28%,
    33% {
      color: #65ffa3;
      text-shadow: none;
    }
    82%,
    97% {
      color: #24ff74;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #dde3de;
      text-shadow: none;
    }
    100% {
      color: #e6ffe8;
      text-shadow: 0 0 0.6rem #e6ffec, 0 0 1.5rem #65ffb7,
        -0.2rem 0.1rem 1rem #b7ff65, 0.2rem 0.1rem 1rem #65ff96,
        0 -0.5rem 2rem #24ff57, 0 0.5rem 3rem #66ff24;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }

  .vs{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .vs:before,
  .vs:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  vs:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .vs:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }